<%=form_with(model: employee, method: :post, multipart: true, url: {controller: 'employees', action: 'emp_manage', employee_id: employee.employee_id } ) do |form| %>

  <%= hidden_field_tag action_method: action_method %>
  <%= form.hidden_field employee_id: employee.employee_id %>
  <%= form.hidden_field photo_id: employee.photo_id %>

  <div class="form-group form-inline row">
    <%= form.label :name , "名前:", {class: "col-sm-3 col-form-label " }%>
    <%= form.text_field :name, {class: "col-sm-9 form-control " } %>
  </div>

  <div class="form-group form-inline row">
    <%= form.label :age, "年齢:", {class: "col-sm-3 col-form-label" } %>
    <%= form.text_field :age, {class: "col-sm-9 form-control" } %>
  </div>

  <div class="form-group form-inline row">
    <%= label_tag :age, "性別:", {class: "col-sm-3 col-form-label" } %>
    <span class="mr-4">
    <%= form.radio_button :gender, 1, {class: " form-control" } %>
    <%= form.label :gender, "男性",  {value: 1, style: "display: inline-block;" ,class: " col-form-label" } %>
    </span>
    <span>
    <%= form.radio_button :gender, 2, {class: " form-control" } %>
    <%= form.label :gender, "女性",  {value: 2, style: "display: inline-block;" ,class: " col-form-label" } %>
    </span>
  </div>

  <div style="margin-top:15px">
    <% if action_method == "edit" %>
    写真:

    <img src="data:<%= employee.photo.mime_type %>;base64, <%= @photo_data %>" alt="写真" title="社員の写真" width="300" height="250">

<%# < %= image_tag "data:#{mime_type};base64,#{Base64.encode64(photo_data)}" %>

    <% end %>
  </div>
    <%= form.label :photo_data, "写真:", {class: "col-sm-3 col-form-label"} %>
    <%= form.file_field :photo_data, accept: "image/jpg, image/jpeg, image/png, image/tmp", class: "col-form-control" %>
  <div class="form-group">

  </div>

  <div class="form-group form-inline row">
    <%= form.label :zip_number, "郵便番号:", {class: "col-sm-3 col-form-label"} %>
    <%= form.text_field :zip_number, {class: "col-sm-9 form-control" } %>
  </div>

  <%# <%= binding.pry %>

  <% p_array = ['北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県',
  '千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県',
  '滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県',
  '愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県']%>

  <div class="form-group form-inline row">
    <%= form.label :pref, "都道府県:", {class: "col-sm-3 col-form-label" } %>
    <%= form.select :pref, options_for_select(p_array, employee.pref),{},
    {size: 1, class: "form-control col-sm-6" }  %>
    <%= form.submit("Click", class: "pref_click") %>
  </div>

  <div class="form-group form-inline row">
    <%= form.label :address1, "住所1(市区町村郡):", {class: "col-sm-3 col-form-label" } %>
    <%= form.text_field :address1, {class: "col-sm-9 form-control"} %>
  </div>

  <div class="form-group form-inline row">
    <%= form.label :address2, "住所2(町名番地):", {class: "col-sm-3 col-form-label" } %>
    <%= form.text_field :address2, {class: "col-sm-9 form-control"} %>
  </div>

  <div class="form-group form-inline row">
    <%= form.label :address3, "住所3(建物名や番号):", {class: "col-sm-3 col-form-label" } %>
    <%= form.text_field :address3, {class: "col-sm-9 form-control"} %>
  </div>

  <% if action_method === "add" %>
  <div class="form-group form-inline row">
    <%= form.label :department_id, "所属:", {class: "col-sm-3 col-form-label" } %>
    <%= form.select :department_id, options_for_select(@department_name_array ), {class: "form-control col-sm-9"} %>
    <%= form.submit("Click", class: "department_click") %>
  </div>
  <% elsif action_method === "edit" %>
  <div class="form-group form-inline row">
    <%= form.label :department_id, "所属:", {class: "col-sm-3 col-form-label" } %>
    <%= form.select :department_id, options_for_select(@department_name_array, employee.department.department_name ), {class: "form-control col-sm-9"} %>
    <%= form.submit("Click", class: "department_click") %>
  </div>
  <% end %>

  <div class="form-group form-inline row">
    <%= form.label :hire_date, "入社日", {class: "col-sm-3 col-form-label" } %>
    <%= form.date_field :hire_date, {class: "form-control col-sm-9"} %>
  </div>

  <div class="form-group form-inline row">
    <%= form.label :retire_date, "退社日", {class: "col-sm-3 col-form-label" } %>
    <%= form.date_field :retire_date, {class: "form-control col-sm-9"} %>
  </div>

  <%= form.submit "設定", {class: "btn btn-primary offset-3 w-25" } %>

<% end %>