<h1 class="eisplay-4 text-primary">部署一覧ページ</h1>


<% if @f_msg != "" %>
<p class="f_msg"><%= @f_msg %></p>
<% end %>


<%# any?で、もし、@departmentsが中身が空かどうかをチェックし、空ではなかったら、出力する %>
<% if @departments.any? then %>
<table class="table">
  <tr>
    <th>部署ID</th>
    <th>部署名</th>
    <th colspan="2"></th>
  </tr>

  <%# trタグを繰り返して出力する %>
  <% @departments.each do |dep|%>
    <tr>
      <td><%= dep.department_id %></td>
      <td><%= dep.department_name%></td>
      <%# 編集ボタンを押すと、GET送信で、編集画面を表示する method: :get が必要です （postだったら省略可能ですが。） 引数では、ハッシュは、最後にする%>
      <td>
        <%= form_with(model: dep, method: :get , url: {controller: 'departments', action: 'display', department_id: dep.department_id }) do |form| %>
          <%# モデルに関係ない時には、hidden_field_tagを使う  hidden_field_tag :action_method , "edit"  第一引数、第二引数にしてください%>
          <%= hidden_field_tag :action_method , "edit" %>
          <%# form.インスタンスメソッド　の第一引数がハッシュになってる %>
          <%= form.hidden_field :department_id => dep.department_id %>
          <%= form.hidden_field :department_name => dep.department_name %>
          <%= form.submit "編集", class: "btn btn-primary" %>
        <% end %>
      </td>
      <%# 削除ボタンを押すと、GET送信で、そのまま削除される Restfulでは無いので  GET送信だから  %>
      <td>
        <%= form_with(model: dep, method: :get, url: {controller: 'departments', action: 'dep_manage', department_id: dep.department_id }) do |form| %>
          <%# モデルに関係ない時には、hidden_field_tagを使う 第一引数:action_method 第二引数 "delete" %>
          <%= hidden_field_tag :action_method , "delete" %>

          <%= form.hidden_field :department_id => dep.department_id %>
          <%= form.submit "削除", class: "btn btn-danger" , data: {confirm: "本当に削除しますか？" }%>
        <% end %>
      </td>

    </tr>
  <% end %>

</table>
<% end %>

 <%# button_to "ボタン名", { パス or コントローラー名とアクション名 }, { オプション } %>
<%= button_to "新規作成" , { controller: 'departments' , action: 'display' } , { method: :get, class: "btn btn-primary", params: {action_method: 'add'}} %>
